@model IEnumerable<SkillTree.Models.AccountBook>
@using PagedList
@using PagedList.Mvc
@{
    var data = Model as IPagedList<SkillTree.Models.AccountBook>;
    Layout = "";
}
<table class="table table-hover">
    <tr>
        <th>
            編號
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoryyy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amounttt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dateee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarkkk)
        </th>
        <th></th>
    </tr>

    @{
        int i = 0;
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>@(++i)</td>
            <td>
                @if (item.Categoryyy == 1)
                {
                    <span style="color:red">支出</span>
                }
                else
                {
                    <span style="color:lawngreen">收入</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amounttt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dateee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarkkk)
            </td>
        </tr>
    }
</table>
@Html.PagedListPager(list: data, generatePageUrl: page => Url.Action("Index", new { p = page }))