@model IEnumerable<SkillTree.Models.SkillTreeHomeworkEntities>
@{
    Layout = "";
}
<table class="table table-hover">
    <th>

        @Html.DisplayNameFor(model => model.Categoryyy)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Amountttt)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Dateeee)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Remarkkk)
    </th>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div>
                    @Html.DisplayFor(modelItem => item.Categoryyy)
                </div>
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Amountttt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dateeee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarkkk)
            </td>
        </tr>
    }
</table>